  <footer class="footer">

           <div class="footer_component_left">
           <h3>Node JS / Technologie web</h3>
           </div>

           <div class="footer_component_right">
Project belongs to Mr. Ludovic Fritel and Mr. Vincent Cadenet / ECE Paris / ING 4 Gr02
           </div>

  </footer>