<header class="page-header">
<meta charset="UTF-8">
<title>Node JS Project</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/Chart.min.css">
<link rel="stylesheet" href="/css/Chart.css">
<link rel="stylesheet" type="text/css" href="/css/body.css">
<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js" /></script>
<script src="/js/Chart.min.js" /></script>
<script src="/js/Chart.js" /></script>
</header>
